@import '@fontsource/poppins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --txt-1: hsl(220 10% 98%);
    --bg-1: hsl(122, 92%, 20%);
        --bg-2: hsl(120, 79%, 30%);
        --border: hsl(0, 0%, 100%);
            --pulse: hsl(0, 0%, 0%);
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--txt-1);
    background-color: var(--bg-1);
}

div.zoomed {
    zoom: 75%;
    -moz-transform: scale(3);
    -moz-transform-origin: 0 0;
}

h1 {
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
}

h1+button {
    width: max-content;
    margin-top: 2rem;
    margin-inline: auto;
    border: 4px solid var(--border);
}

button {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 900;
    color: inherit;
    background: none;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}